apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: maccas-api
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  project: default
  sources:
    - chart: k8s-infisical-secrets
      repoURL: https://accurate0.github.io/inf-k8s
      targetRevision: 0.5.0
      helm:
        valuesObject:
          defaults:
            namespace: maccas-api
            projectSlug: maccas-api-576-r
            resyncInterval: 900
          secrets:
            - name: maccas-api-secret
              secretPath: /api
              managedSecrets:
                - secretName: maccas-api-managed-secrets
            - name: maccas-common-secret
              secretPath: /
              managedSecrets:
                - secretName: maccas-common-managed-secrets
            - name: maccas-web-secret
              secretPath: /web
              managedSecrets:
                - secretName: maccas-web-managed-secrets
            - name: maccas-migration-secret
              secretPath: /migration
              managedSecrets:
                - secretName: maccas-migration-managed-secrets
    - chart: k8s-http-routes
      repoURL: https://accurate0.github.io/inf-k8s
      targetRevision: 2.0.0
      helm:
        valuesObject:
          routes:
            - name: maccas-web-route
              gateway:
                name: shared-gateway
                namespace: envoy-gateway-system
              hostnames:
                - maccas.one
              ratelimit:
                rules:
                  - clientSelectors:
                      - headers:
                          - name: CF-Connecting-IP
                            type: Distinct
                    limit:
                      requests: 5
                      unit: Second
              rules:
                - backendRefs:
                    - name: maccas-web
                      port: 3000
                  matches:
                    - path:
                        type: PathPrefix
                        value: /
            - name: graphql-maccas-route
              gateway:
                name: shared-gateway
                namespace: envoy-gateway-system
              hostnames:
                - graphql.maccas.one
              rules:
                - backendRefs:
                    - name: maccas-api
                      port: 8000
                  matches:
                    - path:
                        type: PathPrefix
                        value: /
    - repoURL: https://github.com/Accurate0/maccas-api.git
      name: application
      path: kubernetes
      kustomize:
        images:
          - maccas-api=ghcr.io/accurate0/maccas-api:${ARGOCD_APP_REVISION}
          - maccas-migration=ghcr.io/accurate0/maccas-migration:${ARGOCD_APP_REVISION}
          - maccas-web=ghcr.io/accurate0/maccas-web:${ARGOCD_APP_REVISION}
          - maccas-scheduler=ghcr.io/accurate0/maccas-scheduler:${ARGOCD_APP_REVISION}
          - maccas-dashboard=ghcr.io/accurate0/maccas-dashboard:${ARGOCD_APP_REVISION}
          - maccas-sensordata=ghcr.io/accurate0/maccas-sensordata:${ARGOCD_APP_REVISION}
          - maccas-recommendations=ghcr.io/accurate0/maccas-recommendations:${ARGOCD_APP_REVISION}
          - maccas-clustering=ghcr.io/accurate0/maccas-clustering:${ARGOCD_APP_REVISION}

  destination:
    server: https://kubernetes.default.svc
    namespace: maccas-api
operation:
  initiatedBy:
    username: github-actions
  sync:
    prune: true
    syncStrategy:
      hook: {}
