apiVersion: apps/v1
kind: Deployment
metadata:
  name: maccas-web
  namespace: maccas-api
  annotations:
    secrets.infisical.com/auto-reload: "true"
spec:
  selector:
    matchLabels:
      app: maccas-web
  replicas: 3
  template:
    metadata:
      labels:
        app: maccas-web
    spec:
      topologySpreadConstraints:
        - maxSkew: 2
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              app: maccas-web
          whenUnsatisfiable: ScheduleAnyway

      containers:
        - name: maccas-web
          image: maccas-web:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: 200Mi
              cpu: 100m
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 1
          env:
            - name: ADDRESS_HEADER
              value: CF-Connecting-IP
            - name: OLD_API_BASE_URL
              value: https://api.maccas.one/v1
            - name: API_BASE_URL
              value: http://maccas-api.maccas-api.svc.cluster.local:8000/v1
            - name: EVENT_BASE_URL
              value: http://maccas-api.maccas-api.svc.cluster.local:8000/v1
            - name: FLIPT_URL
              value: http://flipt-v2.flipt-v2.svc.cluster.local:8080
            - name: OTEL_TRACING_URL
              value: http://monitoring-tempo.monitoring.svc.cluster.local:4318/v1/traces
          envFrom:
            - secretRef:
                name: maccas-web-managed-secrets
          ports:
            - containerPort: 3000
