apiVersion: apps/v1
kind: Deployment
metadata:
  name: maccas-api
  namespace: maccas-api
  annotations:
    secrets.infisical.com/auto-reload: "true"
spec:
  selector:
    matchLabels:
      app: maccas-api
  replicas: 3
  template:
    metadata:
      labels:
        app: maccas-api
    spec:
      topologySpreadConstraints:
        - maxSkew: 2
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              app: maccas-api
          whenUnsatisfiable: ScheduleAnyway

      initContainers:
        - name: maccas-migration
          image: maccas-migration:latest
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: maccas-migration-managed-secrets
      containers:
        - name: maccas-api
          image: maccas-api:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: 80Mi
              cpu: 100m
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /v1/health/self
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 3
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 1
          env:
            - name: RECOMMENDATIONS_API_BASE
              value: http://maccas-recommendations.maccas-api.svc.cluster.local:8003
            - name: SENSORDATA_API_BASE
              value: http://maccas-sensordata.maccas-api.svc.cluster.local
            - name: FLIPT_URL
              value: http://flipt-v2.flipt-v2.svc.cluster.local:8080
            - name: REDIS_CONNECTION_STRING
              value: redis://node.valkey.svc.cluster.local
            - name: OTEL_TRACING_URL
              value: http://monitoring-tempo.monitoring.svc.cluster.local:4318/v1/traces
          envFrom:
            - secretRef:
                name: maccas-common-managed-secrets
            - secretRef:
                name: maccas-api-managed-secrets
          ports:
            - containerPort: 8000
