name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-other:
    strategy:
      fail-fast: false
      matrix:
        apps: [web, clustering]

    permissions:
      packages: write

    uses: Accurate0/workflows/.github/workflows/build-push-docker.yaml@main
    with:
      directory: ${{ matrix.apps }}
      image-name: maccas-${{ matrix.apps }}
      docker-build-args: |
        BINARY_NAME=${{ matrix.apps }}
      use-rust-caching: false

  build-rust:
    strategy:
      fail-fast: false
      matrix:
        apps: [api, scheduler, migration, recommendations]

    permissions:
      packages: write

    uses: Accurate0/workflows/.github/workflows/build-push-docker.yaml@main
    with:
      directory: .
      image-name: maccas-${{ matrix.apps }}
      docker-build-args: |
        BINARY_NAME=${{ matrix.apps }}
      use-rust-caching: true

  deploy:
    needs:
      - build-other
      - build-rust
    uses: Accurate0/workflows/.github/workflows/deploy-app-k8s.yaml@main
    with:
      application-name: maccas-api
      source-name: application
    secrets:
      TS_OAUTH_CLIENT_ID: ${{ secrets.TS_OAUTH_CLIENT_ID }}
      TS_OAUTH_SECRET: ${{ secrets.TS_OAUTH_SECRET }}
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}

  annotate:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Add annotation
        uses: axiomhq/annotation-action@v0.1.0
        with:
          axiomToken: ${{ secrets.AXIOM_API_TOKEN }}
          datasets: ${{ secrets.AXIOM_DATASET_NAME }}
          type: "production-release"
          title: "Production deployment"
          description: "Commit ${{ github.event.head_commit.message }}"
